header.main-header.border-bottom.fixed-top
  nav.navbar.navbar-expand.navbar-light.bg-white
    .container
      a(href="/").navbar-brand
        img(src="/dist/assets/logo-harinas@svg.svg" height="32" alt="Monisa Harinas logo")
        - var pages= {p: 'Inicio Búsqueda'}
      if !pages.p
        include ./search_header
      ul.navbar-nav.ms-auto.align-items-center
        li.nav-item.me-3
          a(href="/").nav-link.fw-semibold
            i.far.fa-search.me-2
            |Buscar
        //- li.navbar
        //- li.navbar-item.dropdown
        //-   button#notifications(type="button" data-bs-toggle="dropdown" aria-expanded="false").nav-link.btn
        //-     i.far.fa-bell.me-1
        //-     .badge.bg-danger.rounded-circle 4
        //-   #notifications-menu(aria-labelledby="notifications").dropdown-menu.dropdown-menu-end.px-2
        //-     .dropdown.header.text-center.fw-bold Notificaciones
        //-     .dropdown-divider
        //-     a(href="#").dropdown-item.rounded.d-flex.align-items-center.text-muted.mb-2
        //-       .image-small.avatar.me-3.d-inlie-flex
        //-         img(src=`${user.cloud}/${user.avatar}`).avatar-image
        //-       .text-muted
        //-         .fw-semibold Kailuma Mena
        //-         .small.text-wrap se ha conectado
        //-     a(href="#").dropdown-item.rounded.d-flex.align-items-center.text-muted.mb-2
        //-       .image-small.avatar.me-3.d-inlie-flex
        //-         img(src=`${user.cloud}/${user.avatar}`).avatar-image
        //-       .text-muted
        //-         .fw-semibold Derek Noguera
        //-         .small.text-wrap Te ha agregado como contácto
        //-     a(href="#").dropdown-item.rounded.d-flex.align-items-center.text-muted.mb-2
        //-       .image-small.avatar.me-3.d-inlie-flex
        //-         img(src=`${user.cloud}/${user.avatar}`).avatar-image
        //-       .text-muted
        //-         .fw-semibold Silvio Mendieta
        //-         .small.text-wrap Ha modificado el nombre del cliente HA235
        //-     a(href="#").dropdown-item.rounded.d-flex.align-items-center.text-muted.mb-2
        //-       .image-small.avatar.me-3.d-inlie-flex
        //-         img(src=`${user.cloud}/${user.avatar}`).avatar-image
        //-       .text-muted
        //-         .fw-semibold Kailuma Mena
        //-         .small se ha conectado
        //- li.nav-item.me-3
        //-   a(href="/chat").nav-link
        //-     i.far.fa-paper-plane
        li.nav-item.dropdown
          button(type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false").btn.btn-light.rounded-pill.caret.p-0.pe-2
            .image-small.avatar
              img#headerAvatar(src=`${user.cloud}/${user.avatar}` alt="").avatar-image
            //- span.fw-semibold=`${user.fullName.split(' ')[0]}`
          div#userDropdownMenu(aria-labelledby="userDropdown").dropdown-menu.dropdown-menu-end.px-2
            .dropdown-item-text.d-flex.align-items-center.mb-3
              .image-medium.avatar.me-2
                img(src=`${user.cloud}/${user.avatar}` alt="").avatar-image
              .d-flex.align-item-center.justify-content-center.flex-column
                div.fw-semibold= `${user.fullName}`
                .text-muted.small= `@${user.username}`
            a(href=`/@${user.username}`).dropdown-item.rounded.fw-semibold.d-flex.align-items-center.text-muted.mb-2
              span.far.fa-user-circle.me-2 
              | Perfil
            a(href=`/editar-perfil`).dropdown-item.rounded.fw-semibold.d-flex.align-items-center.text-muted.mb-2
              span.far.fa-cog.me-2 
              | Ajustes
            .dropdown-divider
            a(href=`/signout/${user.username}`).dropdown-item.rounded.text-danger.fw-semibold.d-flex.align-items-center
              span.far.fa-sign-out-alt.me-2
              | Cerrar sesión