extends ../templates/template
append config
  - pageTitle= `${customer.customerCode}`
block main
  include ../layout/header
  .container.mt-3
    .row.gx-3
      .col-md-3
        .card.text-center.bg-white.rounded.border
          .card-body
            .image-large.avatar.m-auto
              img(src="/dist/assets/defect.png" alt="foto del cliente").avatar-image.w-100
            .mt-3 
              h1.h5.card-title= `${customer.fullName}`  
              p.small.fw-semibold.text-secondary.mb-3= `${customer.customerCode }`
              .d-flex.justify-content-center
                a(href="#" title="Visitar Cliente").btn.btn-primary.me-3
                  i.far.fa-directions.fa-lg
                button#getCoordsButton(type="button" title="Obtener Coordenadas").btn.btn-outline-success
                  i.far.fa-location-crosshairs.fa-lg
      .col-md-9.mb-3
        .bg-white.rounded.border.py-3
          form#customerForm(action="/cliente", method="POST")
            ul.list-group.list-group-flush
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Código:
                  #customerCode.col-sm-9.text-secondary=`${customer.customerCode}`
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Nombre completo:
                  .col-sm-9.text-secondary=`${customer.fullName}`
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Dirección:
                  .col-sm-9
                    input#address(type="text", name="address" value=`${customer.address}` placeholder="Dirección" spellcheck="false").form-control.bg-light
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Móvil:
                  .col-sm-9
                    input#phoneNumber(type="tel", name="phoneNumber" value=`${customer.phoneNumber}` placeholder="Número de teléfono").form-control.bg-light
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Correo:
                  .col-sm-9
                    input#email(type="email", name="email" value=`${customer.email}` placeholder="Correo electrónico").form-control.bg-light
              li.list-group-item.border-0
                .row 
                    .col-sm-3.fw-semibold Coordenadas:
                    .col-sm-9
                      input#coords(type="text", name="coords" value=`${customer.coords}` placeholder="Coordenadas").form-control.bg-light
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Tipo:
                  .col-sm-9.text-secondary=`${customer.type}`
              li.list-group-item.border-0
                .row 
                  .col-sm-3.fw-semibold Vendedor:
                  .col-sm-9.text-secondary= `${customer.sellerFullName}`
              .text-center.my-3
                button#saveButton(type="submit").btn.btn-success.text-center.mb-3
                  i.far.fa-save.me-2
                  | Guardar cambios
                .text-danger.fw-semibold.small * Revisar bien la información antes de guardar