extends ../templates/template
append config
  - pageTitle= `${userProfile.fullName}`
block main
  include ../layout/header
  .container.mt-
    .container-fluid.profile-banner
    .row.position-relative
      .col-md-3.position-absolute
        .card.text-center.bg-white.rounded.border.mb-3
          .card-body
            .image-large.avatar.m-auto
                img(src=`${userProfile.cloud}/${userProfile.avatar}` alt="avatar").avatar-image
            .mt-3 
              h1.h5.card-title= `${userProfile.fullName}`  
              p.small.fw-semibold.text-secondary.mb-3= `@${userProfile.username }`
              if userProfile.bio !== null && userProfile.bio !== ''
                p.text-secondary.mb-3= `${userProfile.bio }`
              if userProfile.active 
                a(href="/editar-perfil").btn.btn-sm.btn-primary.fw-semibold
                  i.far.fa-edit.me-2
                  | Editar perfil
              else
                if userProfile.isFriend
                  form#removeContactForm(action="/removeContact")
                    button#removeButton.btn.btn-danger.fw-semibold
                      i.far.fa-user-minus.me-2
                      | Eliminar
                  form#addContactForm(action="/addContact").d-none
                    button#addButton.btn.btn-primary.fw-semibold 
                      i.far.fa-user-plus.me-2 
                      | Agregar
                else
                  form#addContactForm(action="/addContact")
                    button#addButton.btn.btn-primary.fw-semibold
                      i.far.fa-user-plus.me-2
                      | Agregar
                  form#removeContactForm(action="/removeContact").d-none
                    button#removeButton.btn.btn-danger.fw-semibold
                      i.far.fa-user-minus.me-2
                      | Eliminar
      .col-md-9
  script.
    let localUser = JSON.parse("#{JSON.stringify(user)}".replace(/&quot;/g,'"'))
    let remoteUser = JSON.parse("#{JSON.stringify(userProfile)}".replace(/&quot;/g,'"'))