extends ../templates/template
append config
  - pageTitle= `${userProfile.fullName}`
  - bodyMargin = 'mt-header'
block main
  include ../layout/header
  header.container.profile-banner.position-relative.p-0.overflow-hidden.d-flex.align-items-center
    img(src=" https://monisa.com/wp-content/uploads/2017/12/Slider-1-Monisa.jpg").w-100
  .container
    .row.position-relative
      #userInfo.col-md-3.position-relative
        .card.text-center.bg-white.rounded.border.mb-3
          .card-body
            .image-large.avatar.m-auto
                img(src=`${userProfile.cloud}/${userProfile.avatar}` alt="avatar").avatar-image
            .mt-3 
              h1.h5.card-title= `${userProfile.fullName}`  
              p.small.fw-semibold.text-secondary.mb-3= `@${userProfile.username }`
              if userProfile.bio !== null && userProfile.bio !== ''
                p.text-secondary.mb-3= `${userProfile.bio }`
              if userProfile.active 
                a(href="/editar-perfil").btn.btn-sm.btn-primary.fw-semibold
                  i.far.fa-edit.me-2
                  | Editar perfil
              else
                if userProfile.isFriend
                  form#removeContactForm(action="/removeContact")
                    button#removeButton.btn.btn-danger.fw-semibold
                      i.far.fa-user-minus.me-2
                      | Eliminar
                  form#addContactForm(action="/addContact").d-none
                    button#addButton.btn.btn-primary.fw-semibold 
                      i.far.fa-user-plus.me-2 
                      | Agregar
                else
                  form#addContactForm(action="/addContact")
                    button#addButton.btn.btn-primary.fw-semibold
                      i.far.fa-user-plus.me-2
                      | Agregar
                  form#removeContactForm(action="/removeContact").d-none
                    button#removeButton.btn.btn-danger.fw-semibold
                      i.far.fa-user-minus.me-2
                      | Eliminar
      .col-md-9